.master {
    color: orange;
    text-align: center;
}
    
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.title {
    color: red;
    text-align: center;
}

.mainlinks{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
.headings{
    color: red;
}
.photos {
    height: auto;
    width: 350px;
    margin: auto 750px;
}